
<h1>Password generator</h1>
<div>
  <label for="pwlength">Enter Length</label>
  <input type="text" id="pwlength">
</div>
<div>
  <label for="useletters">Use Letters</label>
  <input type="checkbox" id="useletters">
</div>
<div>
  <label for="usenumbers">Use Numbers</label>
  <input type="checkbox" id="usenumbers">
</div>
<div>
  <label for="usesymbols">Use Sybols</label>
  <input type="checkbox" id="usesymbols">
</div>
<div>
  <button>Generate!</button>
</div>
<div>
  <label for="yourpw">Your Passowrd</label>
  <input type="text" id="yourpw">
</div>